.dataWrap {
  font-family: gothamPro sans-serif;
  float:left;
}

.name {
  font-family: gothamPro sans-serif;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  padding: 6px 9px;
  float:left;
}

.dataWrap input {
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  width: 215px;
  height: 30px;
}

.formItem {
  clear:both;
  text-align:right;
}

.dataWrap .lookingForAJob {
  width: auto;
  height: 40px;
  transform: scale(1.5);
}

.dataWrap .lookingForAJobDescription {
  resize: none;
  width: 215px;
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  height: 100px;
  font-family: gothamPro sans-serif;
}

.aboutMe {
  font-family: gothamPro sans-serif;
}

.dataWrap .contactItem {
  height: 20px;
  margin-bottom: 4px;
  font-family: gothamPro sans-serif;
}

.dataButton {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-family: gothamPro sans-serif;
}
