.name {
  font-family: gothamPro, sans-serif;
}

.profileDataItem {
  font-family: gothamPro, sans-serif;
  padding-bottom: 8px;
}

.dataButton {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-family: gothamPro, sans-serif;
}

.contact {
  font-family: gothamPro, sans-serif;;
  padding-bottom: 5px;
}

.profileDataAbout, .contactTitle {
  font-weight: bold;
  font-style: normal;
}

.dataWrap {
  max-width: 300px;
}



