.dialogItem {
  display: flex;
  position: relative;
  padding: 0.5rem 1.25rem;
  margin-right: 10px;
  font-family: 'Akaya Kanadaka', cursive;
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
  transition: .3s;

  &__name {
    position: absolute;
    left: 80px;
  }

  &__img {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
  }
}

.dialogItem:first-of-type {
    border-top: 1px solid rgba(0,0,0,.125);
}

.dialogItem:hover {
  background-color: #adadec;
  color: white;
}

.active {
  background-color: #9898ff;
  color: white;
}