.dialogItem {
  display: flex;
  position: relative;
  padding: 0.5rem 1.25rem;
  margin-right: 10px;
  font-family: 'Akaya Kanadaka', cursive;
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
  transition: .4s;

  &__name {
    position: absolute;
    left: 80px;
  }

  &__img {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
  }
}

.dialogItem:first-of-type {
    border-top: 1px solid rgba(0,0,0,.125);
}

.dialogItem:hover {
  background-color: #9593e5;
  color: white;
}

.active {
  background-color: #665dfe;
  color: white;
}