.ava {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.ava:hover {
  transition: .3s;
  transform: scale(1.2);
}

.el {
  display: flex;
  width: 60%;
  color: #9a9a9a;
  margin-bottom: 40px;
}

.followBtn {
  width: 100px;
  height: 30px;
  margin: 0 auto 0 auto;
}


.avaContainer {
  flex-grow: 1;
  align-self: center;
  width: 150px;
  max-width: 150px;
}

.usersInfo {
  padding: 2px 5px 0 5px;
  flex-grow: 9;
  position: relative;
  border-radius: 10px;
  align-self: center;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
}

.name {
  font-family: 'Akaya Kanadaka', cursive;
  margin-top: 0;
  margin-bottom: 0;
}


.status {
  margin-bottom: 0;
  margin-top: 40px;
}