.header {
  grid-area: header;
  position: relative;
  background-color: #343434;
  padding-bottom: 10px;

  &__img {
    height: 60px;
    margin-left: 115px;
    margin-top: 20px;
  }
}

.login {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: #9c9c9e;
}

.logout {
  margin: 0 auto 0 auto;
  width: 130px;
  height: 30px;
}

.loginBlock {
  position: absolute;
  top: 0;
  right: 30px;
  text-align: center;
  font-family: gothamPro, sans-serif;
}

.absoluteColumn {
  position: absolute;
  right: 100px;
  margin-top: 15px;
}

.ava__img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  border-radius: 50%;
}

.redirectToLogin {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  transition: background-color .5s, border-radius .5s;
  color: #9c9c9e;
  padding: 7px 20px 7px 20px;
}

.redirectToLogin:hover {
  background-color: #656060;
  border-radius: 50px;
}

.active {
  background-color: #474545;
  border-radius: 50px;
}

