.header {
  grid-area: header;
  position: relative;
  &__img {
    height: 60px;
    margin-left: 115px;
    margin-top: 20px;
  }
}

.login {
  text-align: center;
}

.loginBlock {
  position: absolute;
  top: 0;
  right: 30px;
  text-align: center;
  font-family: 'Mukta';
}
.ava__img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.logout {
  margin: 0 auto 0 auto;
  width: 100px;
  height: 30px;
}
