.post {
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #eeeded;
  margin-top: 40px;
  width: 80%;
  &__ava {
    width: 50px;
    float: left;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  &__msg {
    font-size: 18px;
    margin-left: 80px;
    font-family: gothamPro;
    margin-top: 13px;
  }
}



