.post {
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #eeeded;
  margin-top: 40px;
  width: 80%;
  &__ava {
    width: 50px;
    float: left;
    margin-bottom: 20px;
  }
  &__msg {
    font-size: 18px;
    margin-left: 80px;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 1.2em;
  }
  &__likesWrapper {
    clear: both;
    margin-top: 30px;
  }
  &__likes {
    display: block;
    margin-left: 60px;
    opacity: 50%;
    padding-top: 9px;
  }

  &__likesImage {
    width: 45px;
    float: left;
  }
}



