.post {
  border-radius: 10px;
  padding: 15px 15px 30px 10px;
  background-color: white;
  margin-top: 40px;
  width: 80%;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
  &__ava {
    width: 50px;
    float: left;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  &__msg {
    font-size: 18px;
    margin-left: 80px;
    font-family: gothamPro, sans-serif;
    margin-top: 13px;
  }
}



