.login {
  margin-top: 20px;
  font-family: gothamPro;
  &__item {
    width: 400px;
    height: 35px;
    border: 2px solid #898888;
    font-size: 16px;
    padding: 5px 8px;
    font-family: inherit;
    margin-bottom: 20px;
  }

  &__checkbox {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border: 1px solid #898888;
  }

  &__checkbox:checked {
    background-color: #88858d;
  }

  .checkbox__label {
    display: inline-block;
  }

  &__button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
  }
}
