.messages {
  &__item {
    position: relative;
    margin-bottom: 100px;
  }

  &__msg {
    margin: 0 0 0 1.25rem;
    padding: 16px 26px;
    background-color: white;
    color: #8094ae;
    border-radius: 1.25rem;
    display: inline-block;
    max-width: 550px;
    box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
  }

  &__info {
    float: left;
    width: 80px;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    float: left;
  }

  &__fromOwner {
    text-align: right;
    .messages__img {
      float: right;
    }
    .messages__msg {
      margin: 0 1.25rem 0 0;
    }
  }
}
